.App {
  text-align: center;
}

.App-logo {
  display: block;
  height: 80px;
  margin: 0 auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
